@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Noto+Sans+TC:wght@100;500;700&family=Roboto:wght@100;400;700&display=swap');
@import '_rwd.scss';
@import "_color.scss";

@mixin transCenter($x,$y) {
	transform: translate($x,$y);
}
@mixin hover{
	cursor:pointer;
	&:hover{
		@include transCenter(-1px,-1px);
		}
}
@mixin floatCt($z){
	.floatCt{
		position: absolute;
		top: 0;
		left: 50%;
		z-index: $z;
		width: 90%;
		height: 100%;
		display: flex;
		align-items: center;
		@include transCenter(-50%,0);
		@include pad-m-1080 {
			width: 90%;
		}
	}	
}
@mixin p5js($t,$l1,$l2,$z){
	.p5js{
		position:absolute;
		pointer-events: none;
		width: 100%;
		top:$t;
		left:$l1;
		z-index:$z;
		@include pad-xs-767{
			width: 100%;
			left:$l2;
			overflow: hidden;
		}
	}	
}
$zoneBlue:#0001E5;
$zoneDarkB:rgb(5, 12, 116);
$zoneGaryBlue:#AEBDDE;
$zoneGray:#949799;
$zoneLightG:#E5E5E5;
$zoneDarkG:#333;

.main-banner{
	width: 100%;
	position: relative;
	max-height:100vh;
	@include phone-m-440{
		max-height:130vh;
	}
	.pic{
		position: relative;
		min-height: 100vh;
		min-width: 100vw;
		@include phone-m-440{
			min-height:130vh;
		}								
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;		
		}
		&.bg1{
			background:url(../images/R.png) no-repeat center center;
			background-size:cover;
		}
	}
	.text-wrap{
		position:absolute;
		display: flex;
		align-content: center;
		width: 90%;
		max-width: 1440px;
		top: 50%;
		left: 50%;
		@include transCenter(-50%,-50%);
		@include phone-m-440{
			top: 45%;
		}
		.wrap{
			width: 50%;
			position: relative;
			color: #fff;
			@include pad-m-1080{
				width: 70%;
			}
			@include pad-xs-767{
				width: 100%;
			}
			h4{
				font-size: 20px;
			}
			.title{
				font-size: 72px;
				margin-bottom:0.5em;
				line-height:1.2em;
				font-family: 'Cormorant Garamond';
				font-weight: bold;
				@include phone-xl-600{
					font-size: 48px;
				}
			}
			p{
				font-size: 16px;
			}
			.btn{
				cursor:pointer;
				color:#fff;
				display: inline-block;
				position: relative;
				@include hover;
				&::before{
					content:'';
					width: 40px;
					height: 24px;
					position: absolute;
					right: -2.5em;
					background: url(../images/rightarrow.png) center center no-repeat;
					background-size: contain;
					animation: leftRight 1s infinite ease-in-out;
				}
				@keyframes leftRight {
					0%{
						right:-2.5em;
					}
					50%{
						right:-3em;
					}
					100%{
						right:-2.5em;
					}					
				}
			}
		}		
	}
	.scroll{
		width: 30px;
		height: 67px;
		position: absolute;
		bottom: -100px;
		cursor:pointer;
		.mouse{
			background: url(../images/mouse.png) center center no-repeat;
			background-size: contain;;
			width: 100%;
			height: 40px;
		}
		.arrow{
			position: absolute;
			background: url(../images/v.png) center center no-repeat;
			background-size: contain;;
			width: 100%;
			height: 15px;
			bottom: 0;
			left: 0;
			animation: upDown 1s infinite;
		}
		@keyframes upDown {
			0%{
				bottom: 0;
			}
			50%{
				bottom: -10px;
			}
			100%{
				bottom: 0;
			}
		}
	}
	.owl-nav{
		position: absolute;
		bottom: 3.5rem;
		left: 0;
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
		.owl-prev,.owl-next{
			display: block;
			position: relative;
			background-color: $zoneDarkG;
			width: 114px;
			height: 114px;
			border: 2px solid $zoneGaryBlue !important;
			border-radius:50%;
			text-indent: -9999px;
			margin:0 10px;
			background-color: #fff;
			z-index: 99;
			&:hover,&.active{
				border: 2px solid #FFF !important;;
			}
		}
		.owl-prev{
			background: url(../images/blue-leftarrow.png) center center no-repeat !important;
			background-size: 40px 24px  !important;
			&:hover{
				background: url(../images/whitearrow-1.png) center center no-repeat !important;
				background-size: 40px 24px !important;
			}
		}
		.owl-next{
			background: url(../images/rightarrow.png) center center no-repeat  !important;
			background-size: 40px 24px  !important;
			&:hover{
				background: url(../images/whitearrow.png) center center no-repeat !important;
				background-size: 40px 24px !important;
			}						
		}
	}
	.owl-dots{
		position: absolute;
		width:auto;
		height: 4px;
		bottom:50px;
		right: 10%;
		display: flex;
		@include pad-xs-767{
			display: none;
		}
		button.owl-dot{
			width: 80px;
			height: 4px;
			display: block;
			margin:0 2px;
			background: $zoneGaryBlue;
			span{
				width: 100%;
				height: 100%;
				display: block;
			}
			&.active{
				background:$zoneBlue;
				height: 6px;
			}
		}
		&:before{
			content:"01";
			display: block;
			position: absolute;
			left: 0;
			top: -1.5em;
			height: 0.5em;
			color:$zoneBlue;
			font-size: 14px;
		}
		&:after{
			content:"04";
			display: block;
			position: absolute;
			right: 0;
			top: -1.5em;
			height: 0.5em;
			color:$zoneBlue;
			font-size: 14px;
		}		
	}
}

.history{
	width: 100%;
	background-color: $zoneLightG;
	display: flex;
	flex-wrap:wrap;
	align-content: center;
	justify-content: center;
	position:relative;
	min-height:100vh;
	padding:5vh 0;
	box-sizing: border-box;
	overflow:hidden;		
	.container{
		position: relative;
		box-sizing: border-box;
		margin:0 auto;
		display: flex;
		flex-wrap:wrap;
		justify-content:center;
		width: 100%;

		.row{
			padding: 5vh 0;
			text-align: center;
			display:block;
		}
		h5{
			font-size: 36px;
			color:$zoneBlue;
			margin-bottom:0;
			padding:0 0 0 0;
			@include phone-m-440{
				font-size:20px;
			}
		}
		h2{
			font-size: 96px;
			color:$zoneBlue;
			@include phone-m-440{
				font-size:70px;
			}
		}
		p{
			line-height: 1.6em;
			padding: 0.5em 0;
			font-size: 18px;
			@include phone-m-440{
				font-size:14px;
			}			
		}

	}	
}

.products{
	*{transition: all 0.2s;}
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	position: relative;
	background-color:$zoneBlue;
	height:100vh;
	box-sizing: border-box;
	//-*{border: 1px solid #000;}
	&.pos-fixed{
		position: fixed;
		left:0;
		z-index: 10;
		top: 0;
	}

	.container{
		// padding-top: 5vh;
		// padding-bottom: 5vh;
		width: 90%;
		margin:0 auto;
		@include pad-xs-767{
			padding-top: 0vh;
			padding-bottom: 0vh;			
		}
		position: relative;
		&.position-fixed{
			position: fixed;
			left:0;
			//height: 100vh;
			z-index: 10;
		}		
		.row{
			position: relative;
			padding: 0;
			margin: 0;
			min-height:80vh;
			flex-direction: row;
			flex-wrap:nowrap;


			@include pad-m-1080{
				flex-direction: column-reverse;
				align-items:flex-start;
			}
			.tabs{
				width: 55%;
				overflow:hidden;
				height: 100vh;
				@include pad-m-1080{
					width: 100%;
				}
				.ct_wrap{
					display: flex;
					height: 100vh;
					align-items: center;
					flex-wrap:wrap;
					position: relative;
					#ct1,#ct2,#ct3,#ct4{
						opacity:0;
					}
					.tabsCt{
						width: 100%;
						height: auto;
						color:$zoneLightG;
						padding:10vh 0 10vh 0;
						position: absolute;
						top: 50%;
						left: 50%;
						@include transCenter(-50%,-50% );
						h6{
							font-size: 20px;
							@include phone-xl-600{
								font-size: 18px;
							}						
						}
						h2{
							font-size: 72px;
							margin:0.5em 0;
							@include phone-xl-600{
								font-size: 48px;
							}						
						}
						p{
							font-size: 16px;
						}
						.btn{
							cursor:pointer;
							color:#fff;
							display: inline-block;
							position: relative;
							margin-right:50px;
							@include hover;
							&::before{
								content:'';
								width: 40px;
								height: 24px;
								position: absolute;
								right: -2.5em;
								background: url(../images/rightarrow.png) center center no-repeat;
								background-size: contain;
								animation: leftRight 1s infinite ease-in-out;
							}
							@keyframes leftRight {
								0%{
									right:-2.5em;
								}
								50%{
									right:-3em;
								}
								100%{
									right:-2.5em;
								}					
							}
						}
						.pic{
							display: block;
							width: 50%;
							margin:3rem 0 0 0;
							@include pad-m-1080{
								display: none;
							}
						}

					}					
				}				
				.tabsList {
					list-style: none;
					margin: 0;
					padding: 0;
					width: 24px;
					position: absolute;
					bottom:calc(50% - 8em);
					left:-30px;
					@include transCenter(0,-50%);
					p{
						color:$zoneLightG;
						display: block;
						transform: rotate(-90deg);
					}
					@include pad-xs-767{
						display: none;
					}					
					.tabBtn{
						width: 24px;
						height: 24px;
						border-radius: 50%;
						border: 2px solid $zoneBlue;
						box-sizing: border-box;
						background: $zoneBlue;
						display: flex;
						align-content: center;
						align-items: center;
						justify-content: center;
						margin:0 0 10px 0;
						cursor:pointer;
							.point{
								width:8px;
								height:8px;
								border-radius: 50%;
								background-color: #fff;
								
							}
						&.active{
							border: 2px solid #fff;					
						}
						&:hover,:active,:focus{
							border: 2px solid #fff;	
						}
						
					}				
				}

					
			}
			.info-chart{
				position: relative;
				padding:0;
				width: 45%;
				height: 80vh;
				@include pad-m-1080{
					width: 100%;
				}				
				ul.tabsList{
					position: absolute;
					width: 80%;
					max-width: 400px;
					display: flex;
					bottom:0;
					right:30px;
					padding: 0;
					margin: 0;
					list-style:none;
					z-index: 12;
					@include pad-s-800{
						right:10%;
					}
					li.tabBtn{
						width:100%;
						display: block;
						box-sizing: border-box;
						text-align: center;
						border-bottom: 2px solid $zoneGaryBlue;
						cursor: pointer;
						
						&.active,&:hover{
							border-bottom: 2px solid #fff;
							color: #fff;
							a{
								color:#fff;
							}							
						}
						a{
							color:$zoneGaryBlue;
							text-decoration: none;
							padding:0 2em;
							font-size: 18px;
						}
					}
				}
				.ct_wrap{
					display: flex;
					height: 100vh;
					align-items: center;
					.tabsCt{
						display: flex;
						align-items: center;
						height: 100vh;
					}
					.layer-diamond{
						width: 70%;
						position: relative;
						display: flex;
						flex-wrap:wrap;
						align-items: center;
						justify-content: center;
						height:700px;
						@include pad-m-1080{
							height:700px;
							margin:0 auto;
						}						
						@include pad-s-800{
							height:700px;
							margin:0 auto;
						}
						&.act1{
							#sp1{
								animation: sp1 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1 0.5s forwards ease-in-out;			
							}
							.layer2{
								transform:translate(0,50px);
							}
							.layer3{
								transform:translate(0,-40px);
							}
							.layer4{
								transform:translate(0,-140px);
							}
							@keyframes layer1 {
								from{
									transform:translate(0,140px);	
								}
								to{
									transform:translate(0,40px);
								}
							}
							@keyframes sp1 {
								from{
									top: 190px;
									opacity:0;	
								}
								to{
									top: 190px;
									opacity:1;
								}
							}														
						}
						&.act1-1{
							#sp1{
								animation: sp1_1 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1_1 0.5s forwards ease-in-out;			
							}							
							@keyframes layer1_1 {
								from{
									transform:translate(0,40px);	
								}
								to{
									transform:translate(0,140px);
								}
							}
							@keyframes sp1_1{
								from{
									top: 190px;
									opacity:1;	
								}
								to{
									top: 190px;
									opacity:0;
								}
							}														
						}
						&.act2{
							#sp2{
								animation: sp2 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1 0.5s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2 0.5s forwards ease-in-out;
							}
							.layer3{
								transform:translate(0,-40px);
							}
							.layer4{
								transform:translate(0,-140px);
							}
							@keyframes layer2 {
								from{
									transform:translate(0,50px);	
								}
								to{
									transform:translate(0,-50px);
								}
							}
							@keyframes sp2 {
								from{
									top: 280px;
									opacity:0;	
								}
								to{
									top: 280px;
									opacity:1;
								}
							}														
						}
						&.act2-1{
							#sp2{
								animation: sp2_1 1s forwards ease-in-out;
							}
							.layer1{
								animation: layer1_1 1s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2_1 1s forwards ease-in-out;
							}
							@keyframes layer2_1 {
								from{
									transform:translate(0,-50px);	
								}
								to{
									transform:translate(0,50px);
								}
							}
							@keyframes sp2_1 {
								from{
									top: 280px;
									opacity:1;	
								}
								to{
									top: 280px;
									opacity:0;
								}
							}																					
						}
						&.act3{
							#sp3{
								animation: sp3 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1 0.5s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2 0.5s forwards ease-in-out;
							}
							.layer3{
								animation: layer3 0.5s forwards ease-in-out;
							}
							.layer4{
								transform:translate(0,-140px);
							}
							@keyframes layer3 {
								from{
									transform:translate(0,-40px);	
								}
								to{
									transform:translate(0,-140px);
								}
							}
							@keyframes sp3 {
								from{
									top: 360px;
									opacity:0;	
								}
								to{
									top: 360px;
									opacity:1;
								}
							}														
						}
						&.act3-1{
							#sp3{
								animation: sp3_1 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1_1 0.5s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2_1 0.5s forwards ease-in-out;
							}
							.layer3{
								animation: layer3_1 0.5s forwards ease-in-out;
							}
							.layer4{
								transform:translate(0,-140px);
							}
							@keyframes layer3_1 {
								from{
									transform:translate(0,-140px);	
								}
								to{
									transform:translate(0,-40px);
								}
							}
							@keyframes sp3_1 {
								from{
									top: 360px;
									opacity:1;	
								}
								to{
									top: 360px;
									opacity:0;
								}
							}														
						}
						&.act4{
							#sp4{
								animation: sp4 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1 0.5s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2 0.5s forwards ease-in-out;
							}
							.layer3{
								animation: layer3 0.5s forwards ease-in-out;
							}
							.layer4{
								animation: layer4 0.5s forwards ease-in-out;
							}
							@keyframes layer4 {
								from{
									transform:translate(0,-140px);	
								}
								to{
									transform:translate(0,-240px);
								}
							}
							@keyframes sp4 {
								from{
									top: 440px;
									opacity:0;	
								}
								to{
									top: 440px;
									opacity:1;
								}
							}														
						}
						&.act4-1{
							#sp4{
								animation: sp4_1 0.5s forwards ease-in-out;
							}
							.layer1{
								animation: layer1_1 0.5s forwards ease-in-out;			
							}
							.layer2{
								animation: layer2_1 0.5s forwards ease-in-out;
							}
							.layer3{
								animation: layer3_1 0.5s forwards ease-in-out;
							}
							.layer4{
								animation: layer4_1 0.5s forwards ease-in-out;
							}
							@keyframes layer4_1 {
								from{
									transform:translate(0,-240px);	
								}
								to{
									transform:translate(0,-140px);
								}
							}
							@keyframes sp4_1 {
								from{
									top: 440px;
									opacity:1;	
								}
								to{
									top: 440px;
									opacity:0;
								}
							}														
						}																																										
						.layer{
							width: 80%;
							min-width:300px;
							cursor:pointer;
							height: 120px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
						span{
							opacity:0;
							width: 100%;
							color:#FFF;
							position: relative;
							left: 50%;
							font-size: 38px;
							text-align: center;
							@include transCenter(-50%,0%);
							z-index: 10;
							position: absolute;
							pointer-events: none;
						}						
						.layer1{
							z-index:10;
							transform:translate(0,140px);					
						}
						.layer2{
							z-index:10;
							transform:translate(0,50px);
						}
						.layer3{
							z-index:8;
							transform:translate(0,-40px);
						}
						.layer4{
							z-index:7;
							transform:translate(0,-140px);
						}								
					}
					.arrow-wrap{
						width:30%;
						display: flex;
						flex-wrap:wrap;
						align-items: center;
						justify-content: center;
						border-right:1px solid $zoneLightG;
						@include pad-s-800{
							display: none;
						}
						.round-arrow{
							width: 114px;
							height: 114px;
							border-radius:50%;
							border: 2px solid $zoneBlue;
							display: block;
							cursor: pointer;
							&.top{
								background:url(../images/uparrow.png)no-repeat center center;
								background-size: 24px 40px;
								border: 2px solid $zoneGray;
								&:hover{
									@include transCenter(0,-5px);
								}
							}
							&.down{
								background:url(../images/downarrow.png)no-repeat center center;
								background-size: 24px 40px;
								border: 2px solid $zoneGray;
								&:hover{
									@include transCenter(0,5px);
								}						
							}					
							&:hover{
								border: 2px solid #fff;
							}
						}
					}
				}
			}

	
			
		}
	}	
}


.news{
	//--*{border: 1px solid #000;}
	*{transition: all 0.2s;}
	width: 100%;
	display: flex;
	flex-wrap:wrap;
	position: relative;
	background-color: $zoneLightG;
	height:auto;
	box-sizing: border-box;
	align-items: center;
	@include p5js(-200px,0px ,0px , 10);
	.row{
		margin:0 auto;
	}
	.news-wrap{
		position: relative;
		margin:0 auto;

		.tabsList {
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			width: 24px;
			position: absolute;
			bottom:calc(50% - 8em);
			left:-30px;
			@include transCenter(0,-50%);
			p{
				color:$zoneBlue;
				display: block;
				transform: rotate(-90deg);
			}
			@include pad-xs-767{
				display: none;
			}
			.tabBtn{
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 2px solid $zoneLightG;
				box-sizing: border-box;
				background: $zoneLightG;
				display: flex;
				align-content: center;
				align-items: center;
				justify-content: center;
				margin:0 0 10px 0;
				cursor:pointer;
					.point{
						width:8px;
						height:8px;
						border-radius: 50%;
						background-color: $zoneBlue;
						
					}
				&.active{
					border: 2px solid $zoneBlue;					
				}
				&:hover,:active,:focus{
					border: 2px solid $zoneBlue;	
				}
				
			}				
		}

		ul.tabsCt{
			width: 100%;
			color:$zoneDarkG;
			padding:15vh 0 15vh 0;
			list-style:none;
			margin:0;
			display: flex;
			flex-wrap: wrap;
			align-items:start;
			@include pad-xs-767{
				max-height:auto;
			}
			li{
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 0 0 2em 0;
				&:last-child{
					margin: 0 0 0 0;
				}
				@include pad-xs-767{
					flex-direction:column;
					.date{
						flex-wrap:nowrap;
						justify-content: flex-start !important;
						width: 100%;
					}
				}		
				.date{
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					padding: 0.5em;
					margin-right:20px;
				}
				.title{
					margin:0 0 1rem 0;
				}
				.txt{
					display: flex;
					flex-wrap:wrap;
					justify-content: start;
					align-items: center;				
					.title{
						font-weight: bold;
						font-size: 24px;
						width: 90%;
					}
					p{
						width: 90%;
					}
				}
				.news.more{
					width: 48px;
					height: 48px;
					position: absolute;
					top: 50%;
					right: 0;
					@include transCenter(0,-50%);
					display: block;
					background:url(../images/news_more.svg) no-repeat center center;
					background-size: 50%;
					padding:12px;
					border-radius:50%;
					border: 2px solid $zoneLightG;
					&:hover,&.active{
						background:url(../images/news_more_over.svg) no-repeat center center;
						background-size: 50%;
						border: 2px solid $zoneBlue;
					}
					@include pad-xs-767{
						position: absolute;
						top: 2rem;
						right: 0;
					}		

				}
				.tip{
					display: none;
					font-size: 16px;
					color:$zoneGray;
					margin:0 0.5rem 0.5rem 0;
					@include pad-xs-767{
						display: block;
					}
				}
			}
			h6{
				font-size: 20px;
			}
			h2{
				font-size: 72px;
				margin:0.5em 0;
			}
			p{
				font-size: 16px;
			}
			.btn{
				cursor:pointer;
				color:$zoneDarkG;
				display: inline-block;
				position: relative;
				margin-right:50px;
				@include hover;
				&::before{
					content:'';
					width: 40px;
					height: 24px;
					position: absolute;
					right: -2.5em;
					background: url(../images/rightarrow.png) center center no-repeat;
					background-size: contain;
					animation: leftRight 1s infinite ease-in-out;
				}
				@keyframes leftRight {
					0%{
						right:-2.5em;
					}
					50%{
						right:-3em;
					}
					100%{
						right:-2.5em;
					}					
				}

			}
			.pic{
				width: 50%;
				margin:3rem 0 0 0;
			}

		}		
	}
	.new-btn-wrap{
		display: flex;
		position: relative;
		.num-bar{
			list-style: none;
			display: flex;	
			flex-wrap: wrap;	
			width: 400px;
			height: auto;
			position: absolute;
			top: 280px;
			right: -140px;
			margin:0;
			padding:0;
			transform:rotate(90deg);

			li{
				width: 25%;
				border-bottom: 2px solid $zoneGaryBlue;
				font-size: 16px;
				color:$zoneBlue;
				
				cursor:pointer;
				&:last-child{
					text-align:right;
				}
				&:hover,&.active{
					border-bottom: 2px solid $zoneBlue;
				}
			}
		}
	}
	.arrow-wrap{
		width:100%;
		display: flex;
		flex-wrap:wrap;
		align-items: flex-end;
		justify-content: center;
		border-right:1px solid $zoneLightG;
		margin-bottom:2rem;
		.round-arrow{
			width: 114px;
			height: 114px;
			border-radius:50%;
			border: 2px solid $zoneBlue;
			display: block;
			cursor: pointer;
			&.top{
				background:url(../images/uparrow.png)no-repeat center center;
				background-size: 24px 40px;
				border: 2px solid $zoneLightG;
				&:hover{
					background:url(../images/blue-uparrow.png)no-repeat center center;
					@include transCenter(0,-5px);
					background-size: 24px 40px;
				}
			}
			&.down{
				background:url(../images/downarrow_2.png)no-repeat center center;
				background-size: 24px 40px;
				border: 2px solid $zoneLightG;
				&:hover{
					background:url(../images/blue-downarrow.png)no-repeat center center;					
					@include transCenter(0,5px);
					background-size: 24px 40px;
				}						
			}					
			&:hover,&.active{
				border: 2px solid $zoneBlue;
			}
		}
	}
	.owl-nav{
		position: absolute;
		bottom: 3.5rem;
		left: 0;
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
		.owl-prev,.owl-next{
			display: block;
			position: relative;
			background-color: $zoneDarkG;
			width: 114px;
			height: 114px;
			border: 2px solid $zoneGaryBlue;
			border-radius:50%;
			text-indent: -9999px;
			margin:0 10px;
			background-color: #fff;
			z-index: 99;
			&:hover,&.active{
				border: 2px solid #FFF;
			}
		}
		.owl-prev{
			background: url(../images/blue-leftarrow.png) center center no-repeat !important;
			background-size: 40px 24px  !important;
			&:hover{
				background: url(../images/whitearrow-1.png) center center no-repeat !important;
				background-size: 40px 24px !important;
			}
		}
		.owl-next{
			background: url(../images/rightarrow.png) center center no-repeat  !important;
			background-size: 40px 24px  !important;
			&:hover{
				background: url(../images/whitearrow.png) center center no-repeat !important;
				background-size: 40px 24px !important;
			}						
		}
	}
	.owl-dots{
		position: absolute;
		width:auto;
		height: 10px;
		background: #fff;
		bottom:50px;
		right: 10%;
		display: flex;
		button.owl-dot{
			width: 80px;
			height: 4px;
			display: block;
			margin:0 2px;
			background: $zoneGaryBlue;
			span{
				width: 100%;
				height: 100%;
				display: block;
			}
			&.active{
				background:$zoneBlue;
				height: 6px;
			}
		}
		&:before{
			content:"01";
			display: block;
			position: absolute;
			left: 0;
			top: -1.5em;
			height: 0.5em;
			color:$zoneBlue;
			font-size: 14px;
		}
		&:after{
			content:"04";
			display: block;
			position: absolute;
			right: 0;
			top: -1.5em;
			height: 0.5em;
			color:$zoneBlue;
			font-size: 14px;
		}		
	}	
}

.blog{
	*{transition: all 0.2s;}
	width: 100%;
	display: block;
	flex-wrap:wrap;
	position: relative;
	background-color: $zoneBlue;
	height:auto;
	.container{
		padding-top: 10vh;
		padding-bottom: 10vh;
		position: relative;
		width: 100%;
		.row{
			position: relative;
			padding: 0;
			margin: 0;
			display: flex;
			.blog-wrap{
				display: block;
				min-height: 700px;
				position: relative;
				.tabsList {
					list-style: none;
					margin: 0;
					padding: 0;
					width: 24px;
					position: absolute;
					bottom:calc(50% - 8em);
					left:-30px;
					@include transCenter(0,-50%);
					p{
						color:$zoneLightG;
						display: block;
						transform: rotate(-90deg);
					}
					@include pad-xs-767{
						display: none;
					}					
					.tabBtn{
						width: 24px;
						height: 24px;
						border-radius: 50%;
						border: 2px solid $zoneBlue;
						box-sizing: border-box;
						background: $zoneBlue;
						display: flex;
						align-content: center;
						align-items: center;
						justify-content: center;
						margin:0 0 10px 0;
						cursor:pointer;
							.point{
								width:8px;
								height:8px;
								border-radius: 50%;
								background-color: #fff;
								
							}
						&.active{
							border: 2px solid #fff;					
						}
						&:hover,:active,:focus{
							border: 2px solid #fff;	
						}
						
					}				
				}

				.cardsCt{
					width: 100%;
					color:$zoneLightG;
					// padding:10vh 0 10vh 0;
					display: flex;
					h6{
						font-size: 20px;
					}
					h2{
						font-size: 72px;
						margin:0.5em 0;
					}
					p{
						font-size: 16px;
					}
					.card{
						width: auto;
						margin-right:0%;
						border-radius: 0 0 10px 10px;
						overflow: hidden;
						cursor:pointer;
						@include hover;
						&:hover{
							.btn-wrap{
								.btn{
									width: 60px;
									height: 60px;
									background: url(../images/circle-arrow-over.svg) no-repeat center center;
									background-size: cover;
									transform: rotate(-45deg);
								}
							}
							.pic{
								img{
									transform:scale(1.1);
								}
							}
						}
						&:nth-child(3n){
							margin-right:0;
						}
						.pic{
							max-height: 300px;
							overflow: hidden;
							img{
								max-width:100%;
								width: 100%;
								object-fit: cover;
							}
						}

						.text{
							color:$zoneDarkG;
							padding: 1rem 1rem 0 1rem;
						}
						.btn-wrap{
							.btn{
								width: 60px;
								height: 60px;
								float: right;
								background: url(../images/circle-arrow.svg) no-repeat center center;
								background-size: cover;
							}
						}
					}
					.card-option{
						width: 100%;
					}

				}
				.owl-nav{
					display: block;
					position: absolute;
					height: 114px;
					bottom: -130px;
					left: 0;
					width: 100%;
					height: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					.owl-prev,.owl-next{
						width: 114px;
						height: 114px;
						border: 2px solid $zoneGaryBlue;
						border-radius:50%;
						text-indent: -9999px;
						margin:0 10px;
						overflow: hidden;
						&:hover,&.active{
							border: 2px solid #FFF;
						}
					}
					.owl-prev{
						background: url(../images/blue-leftarrow.png) center center no-repeat;
						background-size: 40px 24px;
						&:hover{
							background: url(../images/whitearrow-1.png) center center no-repeat;
							background-size: 40px 24px;
						}
					}
					.owl-next{
						background: url(../images/rightarrow.png) center center no-repeat;
						background-size: 40px 24px;
						&:hover{
							background: url(../images/whitearrow.png) center center no-repeat;
							background-size: 40px 24px;
						}						
					}
				}				
			}			
		}
	}

}

.unitsList{
	//-- *{border: 1px solid #000;}
	*{transition: all 0.2s;}
	display: block;
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 3em 0 0 0;
	width:30px;
	position: fixed;
	height:auto;
	bottom: calc(35%);
	left:3%;
	background: $zoneLightG;
	border-radius: 50px;
	@include transCenter(0,-50%);
	z-index: 1;
	&.blue{
		background: $zoneBlue !important;
		p{
			color:$zoneLightG;
			display: block;
			transform: rotate(-90deg);
			margin:0 0 1em 0;
		}
		.unitBtn{
			border: 2px solid $zoneBlue;
			background: $zoneBlue;
			cursor:pointer;
				.point{
					width:24px;
					height:24px;
					border-radius: 24px;				
					box-sizing: border-box;
					display: flex;
					align-items: center;
					justify-content: center;
					span{
						width: 8px;
						height: 8px;
						display: block;
						background-color: $zoneLightG;
						border-radius: 50%;
					}
				}
			&.active{
				border: 2px solid $zoneLightG;					
			}
			&:hover{
				border: 2px solid $zoneLightG;	
			}			
		}
	}
	p{
		color:$zoneBlue;
		display: block;
		transform: rotate(-90deg);
		margin:0 0 1em 0;
	}
	@include pad-xs-767{
		display: none;
	}
	.unitBtn{
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 2px solid $zoneLightG;
		box-sizing: border-box;
		background: $zoneLightG;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		margin:0 auto 10px auto;
		position: relative;
			.point{
				width:24px;
				height:24px;
				border-radius: 24px;				
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				span{
					width: 8px;
					height: 8px;
					display: block;
					background-color: $zoneBlue;
					border-radius: 50%;
				}
			}
		&.active{
			border: 2px solid $zoneBlue;					
		}
		&:hover{
			border: 2px solid $zoneBlue;	
		}
		
	}
}
