@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Noto+Sans+TC:wght@100;500;700&family=Roboto:wght@100;400;700&display=swap');
@import '_rwd.scss';
@import '_color.scss';

@mixin transCenter($x, $y) {
        transform: translate($x, $y);
}

@mixin hover {
        cursor: pointer;

        &:hover {
                @include transCenter(-1px, -1px);
        }
}

@mixin topWrap($t) {
        .top_wrap {
                background-color: #fff;
                width: 100%;
                position: absolute;
                top: $t;
                left: 50%;
                @include transCenter(-50%, 0);

                @include pad-xs-767 {
                        position: relative;
                        top: 0;
                }
        }
}

$zoneBlue:#0001E5;
$zoneDarkB:rgb(5, 12, 116);
$zoneGaryBlue:#AEBDDE;
$zoneGray:#949799;
$zoneLightG:#E5E5E5;
$zoneDarkG:#333;



.login-body, .registered-body, .profile-body{
        position: relative;
        min-height: auto;
	background: $zoneLightG;
	.container-fluid.login-wrap{
		padding:0;
		margin:120px 0 0 0;
		@include pad-xs-767{
			margin:0;
		}
	}
        .ct_wrap {
                position: relative;
                width: 100%;
		padding:0;
                @include pad-xs-767 {
                        border-top: 2px solid $zoneBlue;
                        padding: 0 0 0 0;
                }
		.close-row{
			width: 100%;
			display: flex;
			box-sizing: border-box;
			padding: 2rem 0 0 0;
			@include pad-s-800 {
				padding:1rem 0 1rem 0;
				background:$zoneBlue;
				margin:0;
			}
			.closeBtn{
				width: 24px;
				height: 24px;
				background: url(../images/close_btn.svg) no-repeat center center;
				background-size: contain;
				cursor:pointer;
				margin:0 auto;
				&:hover{
					transform:rotate(90deg);
				}
				@include pad-s-800 {
				background: url(../images/close_white_btn.svg) no-repeat center center;
				background-size: contain;					
				}
			}
		}
		.container {
			//-*{ border: 1px solid #000; }
			width: 100%;
			max-width: 1300px;
			padding: 2rem;
			display: flex;
			height: auto;
			cursor: default;
			border-radius: 0;
			flex-wrap: wrap;

			&:hover {
				background: transparent;
			}

			form{
				width: 100%;
			}
	
			@include pad-s-900 {
				height: auto;
				margin: 0;
			}
			@include pad-s-800 {
				padding: 2rem;
			}

			@include phone-xl-600 {
				padding: 0rem;
			}

			.countForm {
				width: 40%;
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				order: 2;

				@include pad-m-1080 {
					width: 100%;
					flex-direction: column;
					order: 4;
				}

				@include pad-s-900 {
					margin: 0;
					margin: 1rem auto 0 auto;
					justify-content: center;
				}

				@include phone-l-500 {
					margin: 0;
					margin: 1rem auto 0 auto;

				}

				.purchase-form {
					display:block;
					width: 100%;
					//- *{border: 1px solid #000;}
					padding: 2%;
					box-sizing: border-box;
					color: $zoneBlue;

					@include pad-m-1080 {
						width: 60%;
					}

					@include pad-xs-767 {
						width: 100%;
					}

					.price {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin: 0 0 2rem 0;

						span {
							font-size: 30px;
							width: auto;
							margin: 0 0 0 2rem;
						}

						.num {
							width: auto;
							font-size: 60px;
							display: block;
							text-align: right;

							.pack {
								font-size: 14px;
								text-align: center;
							}
						}
					}

					.count {
						width: 100%;
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						align-items: center;
						margin: 0 0 2rem 0;

						.btn {
							width: 60px;
							height: 60px;
							border: none;

							&.plus {
								background: url('../images/plus.svg') no-repeat center center;
								background-size: contain;
							}

							&.minus {
								background: url('../images/minus.svg') no-repeat center center;
								background-size: contain;
							}
						}

						input[type=number] {
							text-align: center;
							font-size: 60px;
							color: $zoneBlue;
							width: 100%;
							border: none;
							background: $zoneGray;
							background: none;
							outline: none;
							pointer-events: none;
							flex-shrink:1;
						}

						span.spinner {
							position: relative;
							height: 60px;
							width: 100%;
							user-select: none;
							-ms-user-select: none;
							-moz-user-select: none;
							-webkit-user-select: none;
							-webkit-touch-callout: none;
							display: flex;
							align-items: center;
						}

						span.spinner>.sub,
						span.spinner>.add {
							box-sizing: border-box;
							display: flex;
							align-items: center;
							justify-content: center;	
							width: 50px;
							height: 50px;
							padding:2rem;
							text-align: center;
							font-family: Lato;
							font-weight: 700;
							font-size: 1.8em;
							line-height: 60px;
							color: #0001E5;
							border: 2px #0001E5 solid;
							cursor: pointer;
							transition: 0.1s linear;
							border-radius: 50%;
							-o-transition: 0.1s linear;
							-ms-transition: 0.1s linear;
							-moz-transition: 0.1s linear;
							-webkit-transition: 0.1s linear;
							
						}
						span.spinner>.add {
							top: 0;
							border: 2px #0001E5 solid;
						}

						span.spinner>.sub:hover,
						span.spinner>.add:hover {
							background: #0001E5;
							color: #fff;
						}											

						input[type=number]::-webkit-inner-spin-button,
						input[type=number]::-webkit-outer-spin-button {
							-webkit-appearance: none;
						}

						label {
							width: 100%;
							text-align: center;
						}
					}

					.addCart {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 0 1rem 0;

						button {
							width: 0 auto;
							padding: 0.5rem 2rem;
							border: 1px solid $zoneBlue;
							font-size: 16px;
							background: $zoneLightG;
							border-radius: 2rem;
							color: $zoneBlue;

							&:hover {
								background-color: $zoneBlue;
								color: #fff;
							}
						}
					}

					.deliveryInfo {
						h5.title {
							font-size: 14px;
							font-weight: bold;
						}

						.hkArea,
						.overSeaArea {

							display: flex;
							flex-direction: column;
							font-size: 14px;

							.AreaBtn {
								position: relative;
								display: block;
								width: 100%;
								padding: 0;
								line-height: 2em;
								color: $zoneBlue;
								display: block;
								font-size: 16px;
								font-weight: bold;
								margin: 0 0 0.5rem 0;
								cursor: pointer;

								span {
									width: auto;
								}

								.arrow {
									position: absolute;
									right: 0;
									top: 2px;
									width: 18px;
									height: 18px;
									background: url(../images/purchaseArrow.svg) no-repeat center center;
									box-sizing: contain;
									animation: rotate 0.5s ease-in-out;
									transform: rotate(0deg);
								}

								&.rotate {
									.arrow {
										animation: rotate1 0.5s ease-in-out;
										transform: rotate(180deg);
									}
								}

								@keyframes rotate {
									from {
										transform: rotate(180deg);
									}

									to {
										transform: rotate(0deg);
									}
								}

								@keyframes rotate1 {
									from {
										transform: rotate(0deg);
									}

									to {
										transform: rotate(180deg);
									}
								}
							}

							.wrap {
								display: none;

								.tip {
									display: flex;
									justify-content: space-between;
								}

								span {
									margin: 0 0 0.5rem 0;
								}
							}

						}
					}
				}

			}

			.login-row, .check-row, .forget-row, .active-row, .register-row, .profile-row{
				width: 100%;
				display: flex;
				box-sizing: border-box;
				flex-wrap:wrap;
				position: relative;
				margin:0 auto 2rem auto;
				&.right{
					margin:0;
					justify-content: end;
					button{
						margin:0;
						@include pad-s-900{
							margin: 0 auto 2rem auto;
						}
						&.active{
							&:hover{
								background: $zoneDarkB;
								border: 2px solid $zoneDarkB;
							}
						}						
					}
				}
				&:first-child{
					margin-top:2rem;
					margin-bottom:0rem;
				}

				p.termText{
					width: 50%;
					margin:0 auto;
				}

				.closeBtn{
					width: 24px;
					height: 24px;
					background: url(../images/close_btn.svg) no-repeat center center;
					background-size: contain;
					cursor:pointer;
					margin:0 auto;
					&:hover{
						transform:rotate(90deg);
					}
				}
				h6.title{
					font-size: 20px;
					color:$zoneBlue;
					text-align:left;
					padding: 0 3rem 0 0;
					@include phone-xl-600{
						padding:0 5%;
					}					
				}
				.w-line{
					width: 100%;
					height: 1px;
					background: $zoneBlue;
					margin: 0 0 2rem 0;
					@include pad-s-800{
						width: 100%;
						height: 1px;
					}
				}
				.w-line2{
					width: 80%;
					height: 1px;
					background: $zoneDarkG;
					margin:1.5rem auto;
					@include pad-s-800{
						width: 90%;
					}
				}

				.editBtn{
					width: 54px;
					height: 24px;
					position: absolute;
					top: 0;
					right: 0;
					background: url(../images/edit_btn.svg) left center no-repeat;
					background-size: contain;
					color:$zoneBlue;
					font-size: 16px;
					cursor:pointer;
					&:hover{
						color:$zoneDarkB;
					}
					text-align: right;
					@include phone-xl-600{
						right:5%;
					}					
				}			
				h3.msgTitle, h3.mainTitle{
					font-size: 30px;
					color:$zoneBlue;
					width: 100%;
					@include phone-xl-600{
						width: 90%;
						padding:1rem 0 0 0;
						margin:0 0 0 5%;
					}
				}
				h3.mainTitle{
					text-align: center;
				}
				p.msg{
					font-size: 16px;
					color:$zoneDarkG;
					@include phone-xl-600{
						width: 90%;
						padding:1rem 0 0 0;
						margin:0 0 1rem 5%;
					}					
				}
				p.msg-center{
					font-size: 16px;
					color:$zoneDarkG;
					text-align: center;
					width: 100%;
				}

				.wrap{
					width: 100%;
					display: flex;
					position: relative;
					align-items: center;
					justify-content: center;
					padding:0;
					@include pad-s-800{
						flex-direction:column;
					}
					
				}
				form{
					padding:3rem;
					box-sizing: border-box;
					@include phone-xl-600{
						padding:2rem;
					}
					.labelInput{
						display: flex;
						position: relative;
						align-items: center;
						padding:1rem 0.5rem 1rem 0;
						border-bottom:2px solid $zoneGray;
						border-top:1px solid $zoneLightG;
						border-right:1px solid $zoneLightG;
						border-left:1px solid $zoneLightG;
						margin:0 0 2rem 0;
							&:hover, &:active, &:focus{
								border-bottom: 2px solid $zoneBlue;
								color:$zoneBlue;
							}											
						label{
							display:inline-block;
							font-size: 18px;
							white-space: nowrap;
							color:$zoneGray;
						}
						input{
							width: 100%;
							color:$zoneGray;
							font-size: 18px;
							background:$zoneLightG;
							outline:none;
							text-indent: 1em;
							&:hover, &:active, &:focus{
								color:$zoneBlue;
							}
						}
					}
					label.outside{
						display: none;
					}
					input.outside{
						width: 100%;
						color:$zoneBlue;
						font-size: 18px;
						background:$zoneLightG;
						outline:none;
						text-indent: 0em;
						padding:1rem 0.5rem 1rem 0;
						border-bottom:2px solid $zoneGray;
						border-top:1px solid $zoneLightG;
						border-right:1px solid $zoneLightG;
						border-left:1px solid $zoneLightG;
						margin:0 0 2rem 0;						
						&:hover, &:active, &:focus{
							color:$zoneBlue;
							border-bottom: 2px solid $zoneBlue;
						}
					}					
				}
				.v-line{
					width: 2px;
					height: 200px;
					background: $zoneBlue;
					margin:0 2rem;
					@include pad-s-800{
						width: 100%;
						height: 1px;
					}
				}
				.btn-wrap{
					width: 100%;
					margin:0 0 2rem 0;
					display: block;
					text-align: center;
					a{
						text-decoration: none;
						cursor: pointer;
						color:$zoneBlue;
						&:hover{
							color:$zoneDarkB;
						}
					}
				}
				.loginForm{
					width: 50%;
					@include pad-s-800 {
						width: 100%;
					}					
				}
				.checkForm{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
				}
				button, a.button{
					display: inline-block;
					border: 2px solid $zoneBlue;
					background: $zoneLightG;
					text-align: center;
					font-size: 16px;
					color:$zoneBlue;
					padding:1rem 1.5rem;
					border-radius: 2rem;
					margin:0 auto;
					min-width: 200px;
					max-width: 200px;
					text-decoration: none;
					&:hover, &.active{
						background: $zoneBlue;
						color:#fff !important;
					}
					&.active{
						&:hover{
							background: $zoneDarkB;
							border: 2px solid $zoneDarkB;
						}
					}
				}

				.guestForm{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
				}
				.problem{
					width: auto;
					position: relative;
					text-align: center;
					margin:0 auto 2rem auto;
					color:$zoneBlue;
					text-decoration: none;
					&:hover{
						color:$zoneDarkB;
						// text-decoration:underline;
					}
					&::after{
						content:'';
						position: absolute;
						top: 0;
						right:-30px;
						width: 24px;
						height: 24px;
						background:url(../images/dialogue.svg)no-repeat center center;
						background-size: contain;
					}
					
				}
				.socialContact{
					width: 30%;
					align-items: center;
					justify-content: center;
					display: flex;
					margin:0 35% 1rem 35%;
					@include phone-xl-600{
						width: 80%;
						margin:0 10% 1rem 10%;
					}
					a.button{
						min-width: auto;
					}
				}
								
				.list-wrap, .totalList-wrap{
					//-border: 1px solid #000;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content:space-around;
					position: relative;
					@include phone-xl-600{
						flex-wrap:wrap;
						width: 90%;
						margin:0 auto;
					}					
					.pic{
						order:1;
						width: 20%;
						margin:2%;
						img{
							width: 80%;
							max-width:100%;
							object-fit:fill;
							@include phone-xl-600{
								width: 80%;
							}							

						}
						@include phone-xl-600{
							order:1;
							width: 100%;
							margin:0;
							text-align: center;
						}						
					}
					.name{
						order:2;
						width: 58%;
						margin:2%;
						span{
							font-size: 20px;
							color:$zoneDarkG;
						}
						.title{
							font-size: 24px;
							color:$zoneBlue;
						}
					}
					.list-price{
						order:4;
						width:auto;
						text-align: center;
						cursor:pointer;
						opacity:0;
						pointer-events: none;
						&:hover{
							.num{
							color:$zoneDarkB;
							}
							span{
							color:$zoneDarkB;	
							}
						}
						.num{
							font-size: 36px;
							text-align: center;
							color:$zoneBlue;
						}
						span{
							font-size: 14px;
							text-align: center;
							color:$zoneBlue;
						}
						@include phone-xl-600{
							order:3;
						}
					}
					.count {
						order:3;
						width: 20%;
						min-width: 300px;
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						align-items: center;
						margin: 0 0 1rem 0;
						position: absolute;
						top: 50%;
						right: 0%;
						background:$zoneLightG;
						@include transCenter(0,-50% );
						@include phone-xl-600{
							position: relative;
							top: 0;
							@include transCenter(0,0);
							order:4;
						}
						.btn {
							width: 60px;
							height: 60px;
							border: none;

							&.plus {
								background: url('../images/plus.svg') no-repeat center center;
								background-size: contain;
								&:hover{
									background: url('../images/plus-blue.svg') no-repeat center center;
									background-size: contain;
								}
							}

							&.minus {
								background: url('../images/minus.svg') no-repeat center center;
								background-size: contain;
								&:hover{
									background: url('../images/minus-blue.svg') no-repeat center center;
									background-size: contain;
								}
							}
						}
						.closeBtn{
							position: absolute;
							right: 0;
							top: -40px;
							@include phone-xl-600{
								top: -40px;	
							}
						}

						input[type=number] {
							text-align: center;
							font-size: 60px;
							color: $zoneBlue;
							width: 100%;
							border: none;
							background: $zoneGray;
							background: none;
							outline: none;
							pointer-events: none;
							flex-shrink:1;
						}

						span.spinner {
							position: relative;
							height: 60px;
							width: 100%;
							user-select: none;
							-ms-user-select: none;
							-moz-user-select: none;
							-webkit-user-select: none;
							-webkit-touch-callout: none;
							display: flex;
							align-items: center;
						}

						span.spinner>.sub,
						span.spinner>.add {
							box-sizing: border-box;
							display: flex;
							align-items: center;
							justify-content: center;	
							width: 50px;
							height: 50px;
							padding:2rem;
							text-align: center;
							font-family: Lato;
							font-weight: 700;
							font-size: 1.8em;
							line-height: 60px;
							color: #0001E5;
							border: 2px #0001E5 solid;
							cursor: pointer;
							transition: 0.1s linear;
							border-radius: 50%;
							-o-transition: 0.1s linear;
							-ms-transition: 0.1s linear;
							-moz-transition: 0.1s linear;
							-webkit-transition: 0.1s linear;
							
						}
						span.spinner>.add {
							top: 0;
							border: 2px #0001E5 solid;
						}

						span.spinner>.sub:hover,
						span.spinner>.add:hover {
							background: #0001E5;
							color: #fff;
						}											

						input[type=number]::-webkit-inner-spin-button,
						input[type=number]::-webkit-outer-spin-button {
							-webkit-appearance: none;
						}

						label {
							width: 100%;
							text-align: center;
						}


					}					
				}
				.totalList-wrap{
					position: relative;
					display: flex;
					justify-content: space-between;
			
					@include phone-xl-600{
						width: 90%;
						flex-wrap:wrap;
					}
					.scroll{
						display: flex;						
						justify-content: start;
						width: 100%;
						@include pad-s-900{
							flex-wrap:wrap;
							width: 100%;
						}						
						@include phone-xl-600{
							overflow-x:visible;
							display: block;
						}
						.localExpress, .overSeaExpress{
							width: auto;
							display: flex;
							padding: 0.5em 3em;
							background:$zoneLightG;
							cursor:pointer;
							color:$zoneBlue;
							border: 2px solid $zoneBlue;
							border-radius:5em;
							justify-content: space-around;
							box-sizing: border-box;
							margin:0 2% 0 0;
							&:hover, &.active{
								background:$zoneBlue;
								color:#fff;
							}
							@include pad-s-900{
								width: 90%;
								margin:0 auto 1rem auto;	
								}					
							@include phone-xl-600{
								width: 90%;
								margin:0 auto 1rem auto;
							}
							.infoTxt{
								width: 80%;
								padding:0 2em 0 0;
								.title{
									font-weight: bold;
									font-size: 16px;
									white-space: nowrap;
									line-height: 1em;
								}
								span{
									font-size: 12px;
									line-height: 1em;
								
								}
							}
							.price{
								width: 20%;
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}						
					}

					.totalDollar{
						text-align: center;
						width: 5%;
						min-width:100px;
						margin:0 1rem 0 0;
						@include phone-xl-600{
							width: auto;
							margin:0 1rem 0 5%;
						}
						span{
							font-size: 12px;
							color:$zoneBlue;
						}
						.unit{
							font-size: 34px;
							color:$zoneBlue;
						}
					}
					.totalPrice{
						font-size: 34px;
						color:$zoneBlue;
						width: 5%;
						min-width:100px;
						text-align: center;
						@include phone-xl-600{
							font-size: 72px;
							width: auto;
							margin:0 5% 0 0;
						}
					}
					.space{
						width: 0%;
						@include phone-xl-600{
							width: 0;
						}
						
					}
				}
				.space{
					height: 3vh;
				}						
			}
			.basic-wrap, .shipping-wrap{
				width: 80%;
				margin:0 auto;
				.input{
					position: relative;
					width: 100%;
					display: flex;
					@include phone-xl-600{
						flex-wrap:wrap;
					}
					.labelInput{
						display: flex;
						width: 100%;
						position: relative;
						align-items: center;
						padding:1rem 0.5rem 1rem 0;
						border-bottom:2px solid $zoneGray;
						border-top:1px solid $zoneLightG;
						border-right:1px solid $zoneLightG;
						border-left:1px solid $zoneLightG;
						margin:0 1rem 2rem 0;
							&:hover, &:active, &:focus{
								border-bottom: 2px solid $zoneBlue;
								color:$zoneBlue;
							}											
						label{
							display:inline-block;
							font-size: 18px;
							white-space: nowrap;
							color:$zoneGray;
							&.hint{
								color:$zoneRed;
							}
						}
						input{
							width: 100%;
							color:$zoneGray;
							font-size: 18px;
							background:$zoneLightG;
							outline:none;
							text-indent: 1em;
							&:hover, &:active, &:focus{
								color:$zoneBlue;
							}
						}
						span.hint{
							font-size: 14px;
							position: absolute;
							top: 0;
							left: 0;
							color:$zoneRed;
						}
					}
					label.outside{
						display: none;
					}
					input.outside{
						width: 100%;
						color:$zoneBlue;
						font-size: 18px;
						background:$zoneLightG;
						outline:none;
						text-indent: 0em;
						padding:1rem 0.5rem 1rem 0;
						border-bottom:2px solid $zoneGray;
						border-top:1px solid $zoneLightG;
						border-right:1px solid $zoneLightG;
						border-left:1px solid $zoneLightG;
						margin:0 0 2rem 0;						
						&:hover, &:active, &:focus{
							color:$zoneBlue;
							border-bottom: 2px solid $zoneBlue;
							.radioGroup{
								label{
									span{
									color:$zoneBlue;
									}
								}
							}							
						}
					}
					.radio-wrap{
						width: 100%;
						display: flex;
						box-sizing: border-box;
						//padding:1rem 0.5rem 1rem 0;
						justify-content: flex-start;
						border-bottom: 2px solid $zoneGray;
						margin: 0 1rem 2rem 0;
						&:hover, &:active, &:focus{
							color:$zoneBlue;
							border-bottom: 2px solid $zoneBlue;
						}						
						@include phone-xl-600{
							padding:1rem 0 1rem 0;
							margin:0 0 1rem 0;
						}						
						position: relative;					
						.radioGroup{
							width: auto;
							display: flex;
							align-items: center;
							box-sizing: border-box;
							span{
								cursor: default;
								color:$zoneGray;
								font-size: 18px;
								&.act{
									color:$zoneDarkG;
								}
							}

							label{
								display: block;
								font-size: 18px;
								cursor: pointer;
								position: relative;
								padding: 0 1em 0 1em; 
								width: 100%;
								height: 18px;
								display: flex;
								align-items: center;
								justify-content: start;
							}
							input{
								visibility: hidden;
								position: absolute;
								font-size: 18px;
								top: 0;
								right: 0;
								height: auto;
								margin:0;
							}
							.radio-button {
							/* 自定義樣式的span */
							height: auto;
							width: auto;
							display: block;
							position:relative;
							
							text-align: center;
							left:0%;
							top: 0;
							cursor: pointer;
							}
							.radio-button::after {
							content: "";
							display: block;
							height: 2px;
							width: 100%;
							position: absolute;
							bottom: 0%;
							left: 50%;
							transform: translate(-50%,0%);
							opacity: 0;
							border-bottom: 2px solid $zoneBlue;
							}
							.radioGender:checked ~ label .radio-button{
							opacity: 1;
							color:$zoneBlue;
							}																	
						}						
					}

				}					
				
			}
			.payment-wrap{
				position: relative;
				display: flex;
				flex-wrap:wrap;
				width: 86%;
				margin:0 auto 2rem auto;
				.input{
					position: relative;
					width: 100%;
					display: flex;
					@include pad-s-800{
						flex-wrap:wrap;
					}
					&.w50{
						width: 50%;
						display: flex;
						flex-wrap:wrap;
						@include pad-s-800{
							width: 100%;
						}		
					}
					.buttons, .agreement, .bankInfo, .checkRobot{
						width: 100%;
						margin:0 0 2rem 0;
						display: flex;
						flex-wrap:wrap;
						padding:1rem;
						@include phone-xl-600{
							padding:0;
							width: 100%;
						}
					}
					.agreement{
						//- *{border: 1px solid #000;}
						align-items: center;
						label{
							display: block;
							width: 26px;
							height: 24px;
							margin:0 0.5rem 0 0;
						}
						a{
							text-decoration: none;
							margin:0 0.2rem;
							color:$zoneBlue;
							&:hover{
								color:$zoneDarkB;
							}
						}
						p{
							font-size: 14px;
							margin: 0;
							&:last-child{
								@include phone-xl-600{
									padding:0 0 0 2.4em;
								}
							}
						}
						input[type="checkbox"]{
							display: none;
						}
						input[type="checkbox"] + label span{
							display: inline-block;
							width: 26px;
							height: 24px;
							margin:0px 10px 0 0;
							background:url(../images/checked-box.png)  0 0 no-repeat;
							background-size: cover;
							cursor:pointer;
						}
						input[type="checkbox"]:checked + label span{
							background:url(../images/checked-box.png) -24px 0 no-repeat;
							background-size: cover;
						}
						span.hint{
							display: block;
							font-size: 14px;
							position: relative;
							color:$zoneRed;
							width: 100%;
						}						
						
					}
					.buttons{
						button{
							width: auto;
							border: 2px solid $zoneBlue;
							font-size: 14px;
							min-width:100px;
							margin:0 1rem 1rem 0;
							&.act{
								background-color: $zoneBlue;
								color:#fff;
							}
						}
					}
					.bankInfo{
						width: 80%;
						align-items: center;
						flex-wrap:wrap;
						span{
							width: 100%;
							color:$zoneBlue;
							font-size: 16px;
						}
					}
					.checkRobot{
						width: 80%;
						align-items: center;
						position: relative;
						@include pad-s-800{
							width: 100%;
							margin: 0 0 0 0;							
						}
						@include phone-xl-600{
							width: 100%;
							margin: 0 0 0 0;
						}
						img{
							width: 100%;
							max-width:100%;
						}
						span.hint{
							display: block;
							font-size: 14px;
							position: relative;
							color:$zoneRed;
							width: 100%;
						}						
					}			
				}
			}


		}







        }



}