@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Noto+Sans+TC:wght@100;500;700&family=Roboto:wght@100;400;700&display=swap");
.news-main-banner {
  width: 100%;
  position: relative;
  max-height: 80vh;
}
@media screen and (max-width: 767px) {
  .news-main-banner {
    max-height: 50vh;
  }
}
.news-main-banner .pic {
  position: relative;
  min-height: 80vh;
  min-width: 100vw;
}
@media screen and (max-width: 767px) {
  .news-main-banner .pic {
    min-height: 50vh;
  }
}
.news-main-banner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-main-banner .pic.sample-news {
  background: url(../images/news_banner.jpg) no-repeat center center;
  background-size: cover;
}

.news-body .article-wrap .top_wrap {
  max-width: 1200px;
  position: absolute;
  top: -360px;
  left: 50%;
}
@media screen and (max-width: 1200px) {
  .news-body .article-wrap .top_wrap {
    width: 90%;
    max-width: 1000px;
    top: -360px;
  }
}
@media screen and (max-width: 1080px) {
  .news-body .article-wrap .top_wrap {
    width: 90%;
    max-width: 800px;
    top: -370px;
  }
}
@media screen and (max-width: 767px) {
  .news-body .article-wrap .top_wrap {
    width: 100%;
    max-width: 700px;
    position: relative;
    top: 0;
  }
}
.news-body .article-wrap .top_wrap ul {
  width: 400px;
  justify-content: space-around;
  box-sizing: border-box;
  justify-content: center;
}
@media screen and (max-width: 1080px) {
  .news-body .article-wrap .top_wrap ul {
    width: 100%;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .news-body .article-wrap .top_wrap ul {
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 600px) {
  .news-body .article-wrap .top_wrap ul {
    margin: 0;
    justify-content: flex-start;
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
}
.news-body .article-wrap .top_wrap ul li {
  padding: 0.1rem 1rem;
  background: transparent;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.news-body .article-wrap .top_wrap ul li:hover {
  background: #0001E5;
}
.news-body .article-wrap .top_wrap ul li:hover a {
  color: #fff;
}
.news-body .article-wrap .top_wrap ul li.active {
  background: #0001E5;
}
.news-body .article-wrap .top_wrap ul li.active a {
  color: #fff;
}
.news-body .article-wrap .top_wrap ul li a {
  color: #fff;
  font: 18px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .news-body .article-wrap .top_wrap ul li a {
    color: #949799;
    font-size: 20px;
  }
}
@media screen and (max-width: 1080px) {
  .news-body .article-wrap .top_wrap ul li {
    margin: 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .news-body .article-wrap .top_wrap ul li {
    margin: 0.25rem;
  }
}

.news-more {
  width: 100%;
  display: block;
  flex-wrap: wrap;
  position: relative;
  background-color: #fff;
  height: auto;
}
.news-more .container {
  padding-top: 0vh;
  padding-bottom: 10vh;
  position: relative;
  width: 100%;
  max-width: 1300px;
}
.news-more .container .row {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
}
.news-more .container .row h3.title {
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-size: 36px;
  display: block;
  margin: 0 0 3rem 0;
}
.news-more .container .row .news-wrap {
  position: relative;
  margin: 0 auto;
}
.news-more .container .row .news-wrap .tabsList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 24px;
  position: absolute;
  bottom: calc(50% - 8em);
  left: -30px;
  transform: translate(0, -50%);
}
.news-more .container .row .news-wrap .tabsList p {
  color: #0001E5;
  display: block;
  transform: rotate(-90deg);
}
@media screen and (max-width: 767px) {
  .news-more .container .row .news-wrap .tabsList {
    display: none;
  }
}
.news-more .container .row .news-wrap .tabsList .tabBtn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  background: #E5E5E5;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
  cursor: pointer;
}
.news-more .container .row .news-wrap .tabsList .tabBtn .point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0001E5;
}
.news-more .container .row .news-wrap .tabsList .tabBtn.active {
  border: 2px solid #0001E5;
}
.news-more .container .row .news-wrap .tabsList .tabBtn:hover, .news-more .container .row .news-wrap .tabsList .tabBtn :active, .news-more .container .row .news-wrap .tabsList .tabBtn :focus {
  border: 2px solid #0001E5;
}
.news-more .container .row .news-wrap ul.tabsCt {
  width: 100%;
  color: #333;
  padding: 0 0 3rem 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .news-more .container .row .news-wrap ul.tabsCt {
    max-height: auto;
  }
}
.news-more .container .row .news-wrap ul.tabsCt li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 2em 0;
}
.news-more .container .row .news-wrap ul.tabsCt li:last-child {
  margin: 0 0 0 0;
}
@media screen and (max-width: 767px) {
  .news-more .container .row .news-wrap ul.tabsCt li {
    flex-direction: column;
  }
  .news-more .container .row .news-wrap ul.tabsCt li .date {
    flex-wrap: nowrap;
    justify-content: flex-start !important;
    width: 100%;
  }
}
.news-more .container .row .news-wrap ul.tabsCt li .date {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5em;
  margin-right: 20px;
}
.news-more .container .row .news-wrap ul.tabsCt li .title {
  margin: 0 0 1rem 0;
}
.news-more .container .row .news-wrap ul.tabsCt li .txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.news-more .container .row .news-wrap ul.tabsCt li .txt .title {
  font-weight: bold;
  font-size: 24px;
  width: 90%;
}
.news-more .container .row .news-wrap ul.tabsCt li .txt p {
  width: 90%;
}
.news-more .container .row .news-wrap ul.tabsCt li .news.more {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: block;
  background: url(../images/news_more.svg) no-repeat center center;
  background-size: 50%;
  padding: 12px;
  border-radius: 50%;
  border: 2px solid #E5E5E5;
}
.news-more .container .row .news-wrap ul.tabsCt li .news.more:hover, .news-more .container .row .news-wrap ul.tabsCt li .news.more.active {
  background: url(../images/news_more_over.svg) no-repeat center center;
  background-size: 50%;
  border: 2px solid #0001E5;
}
@media screen and (max-width: 767px) {
  .news-more .container .row .news-wrap ul.tabsCt li .news.more {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}
.news-more .container .row .news-wrap ul.tabsCt li .tip {
  font-size: 16px;
  color: #949799;
  width: 100%;
}
.news-more .container .row .news-wrap ul.tabsCt h6 {
  font-size: 20px;
}
.news-more .container .row .news-wrap ul.tabsCt h2 {
  font-size: 72px;
  margin: 0.5em 0;
}
.news-more .container .row .news-wrap ul.tabsCt p {
  font-size: 16px;
}
.news-more .container .row .news-wrap ul.tabsCt .btn {
  cursor: pointer;
  color: #333;
  display: inline-block;
  position: relative;
  margin-right: 50px;
  cursor: pointer;
}
.news-more .container .row .news-wrap ul.tabsCt .btn:hover {
  transform: translate(-1px, -1px);
}
.news-more .container .row .news-wrap ul.tabsCt .btn::before {
  content: "";
  width: 40px;
  height: 24px;
  position: absolute;
  right: -2.5em;
  background: url(../images/rightarrow.png) center center no-repeat;
  background-size: contain;
  animation: leftRight 1s infinite ease-in-out;
}
@keyframes leftRight {
  0% {
    right: -2.5em;
  }
  50% {
    right: -3em;
  }
  100% {
    right: -2.5em;
  }
}
.news-more .container .row .news-wrap ul.tabsCt .pic {
  width: 50%;
  margin: 3rem 0 0 0;
}

/*# sourceMappingURL=news.css.map */
